.main {
  width: 229px;
  height: 950px;
  position: absolute;
  left: 16px;
  top: 16px;
  background-color: #ffffff;
  box-shadow: 0px 12px 34px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
}
.sub-main {
  width: 189px;
  height: 370px;
  position: absolute;
  left: 20px;
  top: 34px;
}
.nav-img {
  width: 160px;
  height: 32px;
  position: absolute;
  left: 14.5px;
  top: 0px;
  background-image: url(../images/radicallx_black_logo_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.tiles {
  width: 189px;
  height: 288px;
  position: absolute;
  left: 0px;
  top: 82px;
}
a:hover {
  background: rgba(102, 95, 239, 0.2);
  border: 1px solid #793ef5;
  transition: 0.15s ease;
  transform: scale(1.07);
  stroke: #793ef5;
}
a {
  stroke: #1e1e1e;
}
a.active {
  background: rgba(102, 95, 239, 0.2);
  border: 1px solid #793ef5;
  stroke: #793ef5;
}
a.active span {
  color: #793ef5;
}
.dashboard {
  width: 189px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 16px;
}

.dash-vct {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 12px;
}
.dash-text {
  color: #1e1e1e;
  width: 86px;
  height: 24px;
  position: absolute;
  left: 50px;
  top: 12px;
  font-family: 'Space Grotesk';
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.3;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.apprenterships {
  width: 189px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 60px;
  border-radius: 16px;
}
.app-text {
  color: #1e1e1e;
  width: 123px;
  height: 24px;
  position: absolute;
  left: 50px;
  top: 12px;
  font-family: 'Space Grotesk';
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.3;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.internships {
  width: 189px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 120px;
  border-radius: 16px;
}
.int-text {
  color: #1e1e1e;
  width: 90px;
  height: 24px;
  position: absolute;
  left: 50px;
  top: 12px;
  font-weight: 400;
  font-family: 'Space Grotesk';
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.30000001192092896;
  line-height: px;
}
.jobs {
  width: 189px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 180px;
  border-radius: 16px;
}
.jobs-text {
  color: #1e1e1e;
  width: 39px;
  height: 24px;
  position: absolute;
  left: 50px;
  top: 12px;
  font-family: 'Space Grotesk';
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.3;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.settings {
  width: 189px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 240px;
  border-radius: 16px;
}
.settings-text {
  color: #1e1e1e;
  width: 67px;
  height: 24px;
  position: absolute;
  left: 50px;
  top: 12px;
  font-family: 'Space Grotesk';
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.3;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.namebar {
  width: 152px;
  height: 50px;
  position: absolute;
  left: 20px;
  top: 866px;
}
.namebar-pix {
  background-color: #e2e6eb;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 16px;
}
.namebar-name {
  color: #1e1e1e;
  width: 120px;
  height: 24px;
  position: absolute;
  left: 60px;
  top: 13px;
  font-family: 'Space Grotesk';
  text-align: left;
  letter-spacing: 0.3;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
